openapi: 3.0.3
info:
  title: API register API v1
  description: API van het API register (apis.developer.overheid.nl)
  version: 1.0.0
  contact:
    name: Team developer.overheid.nl
    email: developer.overheid@geonovum.nl
    url: https://github.com/developer-overheid-nl/don-api-register/issues
servers:
  - url: https://api.developer.overheid.nl/api-register/v1
    description: Productie
  - url: https://api-register.don.apps.digilab.network/api-register/v1
    description: Test
paths:
  /apis:
    get:
      security:
        - apiKey: []
        - clientCredentials: [read]
      tags:
        - Publieke endpoints
      summary: Alle API's ophalen
      description: Alle API's ophalen
      operationId: listApis
      responses:
        '200':
          description: OK
          headers:
            API-Version:
              $ref: '#/components/headers/API-Version'
          content:
            application/json:
              schema:
                type: object
                properties:
                  apis:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiSummary'
                  _links:
                    required: [self]
                    type: object
                    properties:
                      first:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.developer.overheid.nl/api-register/v1/apis?page=1
                      prev:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.developer.overheid.nl/api-register/v1/apis?page=2
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.developer.overheid.nl/api-register/v1/apis?page=3
                      next:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.developer.overheid.nl/api-register/v1/apis?page=4
                      last:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.developer.overheid.nl/api-register/v1/apis?page=5
    post:
      security:
        - clientCredentials: [write]
      tags:
        - Private endpoints
      summary: Registreer een nieuwe API met een OpenAPI URL
      description: Registreer een nieuwe API met een OpenAPI URL
      operationId: createApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiPost'
      responses:
        '201':
          description: Created
          headers:
            API-Version:
              description: De API-versie van de response
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSummary'
        '400':
          $ref: '#/components/responses/400'
  /apis/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      security:
        - apiKey: []
        - clientCredentials: [read]
      tags:
        - Publieke endpoints
      summary: Specifieke API ophalen
      description: Specifieke API ophalen
      operationId: retreiveApi
      responses:
        '200':
          description: OK
          headers:
            API-Version:
              description: De API-versie van de response
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetail'
        '404':
          $ref: '#/components/responses/404'
    put:
      security:
        - clientCredentials: [write]
      tags:
        - Private endpoints
      summary: Specifieke API updaten
      description: Specifieke API updaten
      operationId: updateApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiPost'
      responses:
        '201':
          description: Created
          headers:
            API-Version:
              description: De API-versie van de response
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSummary'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    Contact:
      required: [email, name, url]
      type: object
      properties:
        email:
          type: string
          format: email
          example: developer.overheid@geonovum.nl
        name:
          type: string
          example: Team developer.overheid.nl
        url:
          type: string
          format: uri
          example: https://github.com/developer-overheid-nl/don-api-register/issues
    ApiDetail:
      allOf:
        - $ref: "#/components/schemas/ApiSummary"
        - type: object
          properties:
            auth:
              nullable: true
              type: array
              items:
                type: string
                example: oauth2
            description:
              type: string
            docsUri:
              type: string
              format: uri
              example: https://apis.developer.overheid.nl/apis/3fa85f64-5717-4562-b3fc-2c963f66afa6
            servers:
              type: array
              items:
                $ref: '#/components/schemas/Server'
    ApiSummary:
      required: [contact, title, organisation, adrScore]
      allOf:
        - $ref: "#/components/schemas/ApiPost"
        - type: object
          properties:
            title:
              type: string
              example: API register API v1
            description:
              type: string
              example: API van het API register (apis.developer.overheid.nl)
            organisation:
              $ref: '#/components/schemas/Organisation'
            adrScore:
              type: integer
              format: int32
              nullable: true
              default: null
            _links:
              type: object
              properties:
                self:
                  type: object
                  properties:
                    href:
                      type: string
                      format: uri
                      example: https://api.developer.overheid.nl/v1/apis/3fa85f64-5717-4562-b3fc-2c963f66afa6
    Server:
      required: [url, description]
      type: object
      properties:
        url:
          type: string
          format: uri
          example: https://api.developer.overheid.nl/v1
        description:
          type: string
          example: Production
    ApiPost:
      type: object
      required: [id, oasUri]
      properties:
        id:
          type: string
          format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          readOnly: true
        oasUri:
          type: string
          format: uri
          example: https://api.developer.overheid.nl/api-register/v1/openapi.json
        contact:
          $ref: '#/components/schemas/Contact'
    Organisation:
      required: [label, uri]
      type: object
      properties:
        label:
          type: string
          example: Binnenlandse Zaken en Koninkrijksrelaties (BZK)
        uri:
          type: string
          format: uri
          example: https://identifier.overheid.nl/tooi/id/ministerie/mnre1034
  responses:
    '404':
      $ref: https://static.developer.overheid.nl/adr/components.yaml#/responses/404
    '400':
      $ref: https://static.developer.overheid.nl/adr/components.yaml#/responses/400
  headers:
    API-Version:
      description: De API-versie van de response
      schema:
        type: string
        example: 1.0.0
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-Api-Key
      in: header
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            apis:read: Leestoegang tot de API
            apis:write: Schrijftoegang tot de API
          tokenUrl: https://api.developer.overheid.nl/admin/oauth2/token
          refreshUrl: https://api.developer.overheid.nl/admin/oauth2/refresh
security:
  - clientCredentials: []
tags:
  - name: Publieke endpoints
    description: Publieke endpoints van het API-register, te benaderen met een API-key of client credentials token.
  - name: Private endpoints
    description: Private endpoints van het API-register, te benaderen met een client credentials token.